.img-wrapper {
    img {
        @apply
            duration-300
            object-contain
            h-96;
    }
}

.fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed!important;
};
